@model Agenda_Telefonica.Models.Contato

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>Exclusão</h2>

<h3>Deseja excluir este contato?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone_Residencial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone_Residencial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone_Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone_Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone_Comercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone_Comercial)
        </dd>
    </dl>

    @*@Html.ActionLink("Excluir", "ExcluirConfirma", "id = Model.ID")    |*@

</div>
<form asp-action="ExcluirConfirma">
    <input type="submit" value="Excluir" />
    <a asp-action="ListaContatos">Retornar para a Lista</a>
</form>